<div class="container d-flex flex-column align-items-center mt-4">
  {{!-- 下拉選單與總金額 --}}
  <div class="d-flex flex-column" style="max-width: 28vw;">
    <div class="col">
      <form action="/" method="post">
        <select name=”sort” onchange="submit();" style="width: 300px">
          <option value=”sort-0”>篩選類別</option>
          <option value=”sort-1”>家居物業</option>
          <option value=”sort-2”>交通出行</option>
          <option value=”sort-3”>休閒娛樂</option>
          <option value=”sort-4”>餐飲食品</option>
          <option value=”sort-5”>其他</option>
        </select>
      </form>
    </div>
    <h5 class="mt-3">總金額：</h5>
    <div class="text-end">
      <h1 id="total">{{sum}}</h1>
    </div>
  </div>
</div>
{{!-- 帳目 --}}


<div class="container d-flex flex-column mt-4" style="max-width: 28vw;">

  <div class="d-flex flex-column" style="min-width: 28vw;">
    {{#each expenses}}
    <div class="d-flex flex-row justify-content-between">
      {{!-- 詳細資訊 --}}
      <div class="d-flex flex-row align-items-center div-a-data">
        <i class="fa-solid fa-utensils"></i>
        <div class="d-flex flex-column">
          <span>{{this.name}}</span>
          <span>{{this.date}}</span>
        </div>
        <div class="div-amount">
          <span style="">{{this.amount}}</span>
        </div>
      </div>
      {{!-- 修改或刪除 --}}
      <div class="d-flex flex-row align-items-center">
        <a href="/expenses/{{this._id}}/edit" class="mx-2 crud-btn">修改</a>
        <a href="/expenses/{{this._id}}/delete" class="mx-2 crud-btn">刪除</a>
      </div>
    </div>
    {{/each}}
  </div>


</div>


{{!-- 新增支出鈕 --}}
<div class="row mt-5 justify-content-center">
  <a href="/expenses/new" class="btn btn-primary" id="btn-new">新增支出</a>
</div>



{{!-- fontawsome
<i class="fa-solid fa-house-chimney"></i>
<i class="fa-solid fa-van-shuttle"></i>
<i class="fa-solid fa-face-grin-beam"></i>
<i class="fa-solid fa-utensils"></i>
<i class="fa-solid fa-pen"></i>
--}}